body {
    font-family: 'Arial', 'Helvetica', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

form {
    background-color: #FFFFFF;
    margin: 1rem;
}

fieldset {
    background-color: #F5F5F5;
    padding: 1rem;
}

legend {
    font-size: 1.5rem;
    padding: 1rem;
    border: 2px solid #DDD;
    background-color: #FFFFFF;
}

fieldset,
.fnpos input,
.epos input,
.mpos textarea,
.btnpos input {
    border: 2px solid #DDD;
    border-radius: 3px;
}

.box {
    margin: 0 0 1rem 0;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
}

.fnpos,
.epos,
.mpos {
    padding-top: 0.5rem;
}

.fnpos input,
.epos input,
.mpos textarea,
.btnpos input {
    width: 100%;
    padding: 2px;
    line-height: 1.5rem;
}

#submit-btn {
    background-color: #6495ED;
    border: 2px solid #6495ED;
    border-radius: 4px;
    color: #f5f5f5;
    font-size: 1rem;
    line-height: 2rem;
}

@media screen and (min-width: 25rem) {
    main {
        max-width: 50rem;
        margin: 0 auto;
    }

    form {
        padding: 2rem 4rem;
        margin: auto;
    }

    legend {
        font-size: 2rem;
    }

    .fnpos,
    .epos {
        width: 46%;
        float: left;
    }

    .box {
        margin: 2%;
    }

    .mpos {
        clear: both;
    }

    #submit-btn {
        width: auto;
        padding: 0 2rem;
    }
}
